html {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.navbar-brand-box {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.navbar-brand-box .logo-lg img {
    margin-left: -30px;
}

#sidebar-menu>ul>li>a span {
    margin-left: 20px;
}

#sidebar-menu {
    &>ul {
        &>li {
            position: relative;

            &:hover {
                &>a {
                    // border: 1px solid #eee;
                    // background: yellow !important;
                    display: block;

                    &::after {
                        content: "" !important;
                        display: block !important;
                        width: 192px;
                        height: 50px;
                        border: 1px solid #eee !important;
                        position: absolute;
                        top: 0;
                        left: 70px;
                        border-left: 0 !important;
                    }
                }
            }


            &>a {
                position: relative;
                // border: 1px solid red;
                // background: green;

                &:hover {
                    &::after {
                        content: "";
                        display: block;
                        width: 192px;
                        height: 50px;
                        border: 1px solid #eee !important;
                        position: absolute;
                        top: 0;
                        left: 70px;
                        border-left: 0 !important;
                    }
                }


            }

        }
    }
}

.sidebar-enable #sidebar-menu>ul>li:hover>a {
    &::after {
        display: none !important;
    }
}



// .sidebar-enable #sidebar-menu>ul>li {
//     ul.sub-menu.mm-collapse.mm-show {
//         &>li {
//             &>a {
//                 padding-left: 70px;
//             }
//         }
//     }
// }

// .sidebar-enable #sidebar-menu>ul>li {
//     ul.sub-menu.mm-collapse.mm-show {
//         &>li {
//             &>a {
//                 padding-left: 0;
//             }
//         }
//     }
// }